<div class="container">
    <h1 class="text">Password Reset</h1>
    <form action="/admin/forgot_password" method="POST">
        <% if (messages.error) { %>
            <br><%= messages.error %><br>
        <% } %>
        <input type="email" id="email" name="email" placeholder="Email">
        <button type="submit" id="search">Search</button>
    </form>
</div>