Home Admin
I'm <%= username %> 
<form action="/admin/home/logout?_method=DELETE" method="POST">
  <button type="submit">Logout</button>
</form>
<!--
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/admin/home/logout">Logout</a></li>
  </ul>
-->

