<div class="admin">
    <img src="/images/admin_avatar.jpg" class="avatar">
    <%- include ('../partials/messages/success_message.ejs') %>
        <h1 class="text">ADMIN LOGIN</h1>
        <form action="/admin/login" method="POST">
            <input type="text" id="username" name="username" placeholder="Username">
            <input type="password" id="password" name="password" placeholder="Password">

            <% if (messages.error) { %>
                <br><%= messages.error %><br>
            <% } %>

            <button type="submit" id="login" disabled="disabled" class="btn">LOG IN</button>
        </form>
        <div class="bottom-text">
            <a href="/admin/forgot_password">Forget Password?</a>
        </div>
</div>
<script src="/js/admin/login.js"></script>