<div class="container">
    <h1 class="text">Password Reset</h1>
    <form action="/admin/forgot_password" method="POST">
        <input type="number" id="code" name="code" placeholder="Verification Code">
        <button type="submit" id="verify">Verify</button>
    </form>
</div>