<!-- Footer Start-->
<footer class="footer">
    <div class="container-fluid">
        <div class="row py-4 d-flex align-items-center">
            <div class="col-md-12 text-center">
                <a class="mx-auto" href="/time_square_mall">Times Square Mall</a>  | 
                <a class="mx-auto" href="/customer_service">Customer Service</a>  | 
                <a class="mx-auto" href="/disclaimer">Disclaimer</a>  | 
                <a class="mx-2" href="/terms">Terms</a>  | 
                <a class="mx-2" href="/privacy_policy">Privacy Policy</a>
                <p class="mt-2">&copy Copyright @ 2021 GetTicket by Times Square Mall - All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>