<!-- Footer Start-->
<div class="footer">
    <div class="container-fluid text-center m-2">
        <a href="mall">Lula Mall</a>  | 
        <a href="faq">FAQs</a>  | 
        <a href="cusserv">Customer Service</a>  | 
        <a href="/d">Disclaimer</a>  | 
        <a href="terms">Terms</a>  | 
        <a href="policy">Privacy Policy</a>
        <p> Copyright @ 2021 GetTicket by Lula Mall - All Rights Reserved</p>
    </div>
</div>