<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="/images/GetTicket.png" alt="GetTicket Logo" height="70"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDropdown"
            aria-controls="navbarDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarDropdown">
            <div class="navbar-nav ml-auto pr-3">
                <li class="">
                    <a href="/" class="nav-item nav-link mx-3">HOME</a>
                </li>
                <li>
                    <a href="/contact_us" class="nav-item nav-link mx-3">CONTACT US</a>
                </li>
                <% if (user) { %>
                    <li class="dropdown show">
                        <a class="nav-link dropdown-toggle mx-3" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">HI
                            "<%= user.Username %>"
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="/account/<%=user.Username%>/profile">My Account</a>
                            <a class="dropdown-item" href="/account/<%=user.Username%>/transactions">Transaction History</a>
                            <a class="dropdown-item" href="/logout">Signout</a>
                        </div>
                    </li>
                    <li>
                        <a class="nav-link ml-3" href="/"><i class="fa fa-shopping-cart fa-2x"
                                aria-hidden="true"></i></a>
                    </li>
                <% } else { %>
                    <li>
                        <a href="/register" class="nav-item nav-link mx-3">REGISTER</a>
                    </li>
                    <div class="d-none d-lg-block separator"></div>
                    <li>
                        <a href="/login" class="nav-item nav-link mx-3">LOGIN</a>
                    </li>
                <% } %>
            </div>
        </div>
    </div>
</nav>