<%- include ('./partials/navbar.ejs') %>
<div class="cart">
    <div class="jumbotron my-5 mx-5">
        <div class="container">
            <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Date</th>
                        <th scope="col">Title</th>
                        <th scope="col">Showtime</th>
                        <th scope="col">Tickets</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1">
                        </td>
                        <td>11-02-2020</td>
                        <th scope="row">Black Widow</th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1"></td>
                        <td>11-02-2020</td>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            </div>
            <div class="row mt-5">
                <div class="row mx-auto mt-5">
                    <button type="submit" class="btn btn-outline-info btn-lg mx-3">Update Cart</button>
                    <button type="submit" class="btn btn-info btn-lg mx-3">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ('./partials/footer.ejs') %>