<%- include ('./partials/navbar.ejs') %>
<div class="contactUs">
    <div class="jumbotron my-5 mx-5">
        <div class="container">
            <div class="row text-left">
                <div class="col">
                    <h1>Customer Service</h1>
                    <br>
                    <p class="text-left">(02) 7755 - 7755</p>
                    <p class="text-left">9:00 am - 8:00 pm</p>
                    <p class="text-left">Monday - Saturday</p>
                </div>
                <div class="col">
                    <h1>Office</h1>
                    <br>
                    <p class="text-left">GetTicket Theaters Management Inc., 3rd Floor</p>
                    <p class="text-left">Times Square Mall</p>
                    <p class="text-left">Officers Hours: 9:00 am - 8:00 pm</p>
                    <p class="text-left">Monday to Saturday</p>
                </div>
                <div class="col text-center">
                    <h1>Email Address</h1>
                    <br>
                    <p class="text-center">GetTicketWeb@gmail.com</p>
                </div>
            </div>
            <h5 class="text-center mt-5 mb-3">We'd Love To Here From You</h5>
        </div>
    </div>
</div>
<%- include ('./partials/footer.ejs') %>