<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="/images/GetTicket.png" alt="GetTicket Logo" height="70"></a>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-9 card flex-row mx-auto my-5 px-0">
            <div class="card-body">
                <h3 class="title text-center mb-5 mt-5 text-warning">Forgot Password</h3>
                <hr class="my-4">
                <%- include ('./partials/messages/info_message.ejs') %>
                <form class="form-box px-1" name="forgot_password" id="forgot_password" action="" method="POST">
                    <div class="form-inline text-center mx-5 mb-5 pl-3">
                        <small class="form-text text-muted">Please enter your email to search for your
                            account.</small>
                        <input type="email" class="form-control form-control-lg mt-2" name="email" id="email"
                            placeholder="Email" maxlength="50" required>
                        <button type="search" class="btn btn-outline-warning btn-lg mt-2 ml-2"
                            id="search">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>