
<div class="container">
    <div>FORGOT PASSWORD PAGE</div>
    <%- include ('./partials/messages/info_message.ejs') %>
        <form action="/forgot_password" method="POST">
            <small class="form-text text-muted">Please enter your email to search for your account.</small>
            <input type="email" name="email" id="email">
            <button type="submit">search</button>
        </form>
</div>
