<%- include ('./partials/navbar.ejs') %>

    <div class="container">
        <div class="row px-3">
            <div class="col-lg-10 col-xl-9 card flex-row mx-auto my-5 px-0">
                <div class="img-left d-none d-md-flex"></div>
                <div class="card-body">
                    <h3 class="title text-center mb-5 mt-5 text-info">Login your account</h3>
                    <%- include ('./admin/partials/error_message.ejs') %>
                        <form class="form-box px-1" name="loginForm" id="loginForm" action="/login" method="POST">
                            <div class="form-group my-4">
                                <input type="text" class="form-control form-control-lg" name="loginUsername"
                                    id="loginUsername" placeholder="Username" maxlength="50" required>
                            </div>
                            <div class="form-group my-4">
                                <input type="password" class="form-control form-control-lg" name="loginPassword"
                                    id="loginPassword" placeholder="Password" maxlength="50">
                            </div>
                            <div class="button mb-5">
                                <button type="submit" class="btn btn-info btn-lg btn-block mt-4 mb-2" id="signIn"
                                    disabled="disabled">Log in</button>
                            </div>
                            <hr class="my-4">
                            <div class="text-center mt-4 mb-5">
                                <a href="/forgot_password" class="forget-link">Forgot Password?</a>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
    
    <script src="/js/login.js"></script>