RESET PASSWORD PAGE

<% if (typeof token !='undefined' ) { %>
    <form class="container" name="resetForm" id="resetForm" action="/reset_password" method="POST">
        <input type="text" name="id" id="id" value="<%=id%>" hidden>
        <input type="text" name="token" id="token" value="<%=token%>" hidden>
        <div class="form-group">
            <label> New Password </label>
            <input type="password" name="password" id="password" class="form-control" maxlength="50"
                onchange="setSuccess(event.target)">
            <small></small>
        </div>
        <div class="form-group">
            <label> Confirm New Password </label>
            <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" maxlength="50"
                onchange="setSuccess(event.target)">
            <small></small>
        </div>
        <button type="submit" onclick="return resetPasswordValidation()" class="btn btn-info btn-lg btn-block mt-4 mb-2">
            Reset Password</button>
    </form>
<% } else { %>
    <div class="container">
        <div>Sorry! This link validity has expired. </div>
        <a class="btn btn-primary" href="/">return home</a>
    </div>
<% } %>

<script src="/js/reset_password.js"></script>