<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="/images/GetTicket.png" alt="GetTicket Logo" height="70"></a>
    </div>
</nav>
<div class="reset">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 card flex-row mx-auto my-5 px-0">
                <div class="card-body">
                    <h3 class="title text-center mb-5 mt-5 text-warning">Reset Password</h3>
                    <% if (typeof token !='undefined' ) { %>
                    <form class="container" name="resetForm" id="resetForm" action="/reset_password" method="POST">
                        <input type="text" name="id" id="id" value="<%=id%>" hidden>
                        <input type="text" name="token" id="token" value="<%=token%>" hidden>
                        <div class="form-group">
                            <label class="text-muted"> New Password </label>
                            <input type="password" name="password" id="password" class="form-control" maxlength="50"
                                onchange="setSuccess(event.target)">
                            <small></small>
                        </div>
                        <div class="form-group">
                            <label class="text-muted"> Confirm New Password </label>
                            <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" maxlength="50"
                                onchange="setSuccess(event.target)">
                            <small></small>
                        </div>
                        <button type="submit" onclick="return resetPasswordValidation()" class="btn btn-warning btn-lg btn-block mt-4 mb-2">
                            Reset Password</button>
                    </form>
                    <% } else { %>
                    <div class="container text-center">
                        
                        <div class="alert alert-danger">Sorry! This link validity has expired. </div>
                        <a href="/" class="btn btn-primary btn-lg">
                            <span><i class="fa fa-home mr-2"></i></span>
                            Return Home 
                        </a>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/reset_password.js"></script>