body{
    background-image: url(../images/grdnt_BG5.png);
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

/* Navbar Style */
.navbar{
    padding: 5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 36px;
    letter-spacing: .8px;
    background: rgba(59, 59, 59, 0.6)!important;
}
nav .btn{
    color: #ffba08;
    border-radius: 50px;
    text-decoration: none;
}
.nav-link{
    transition: .5s;
}
.nav-link:hover{
    transform: scale(1.03);
}
.dropdown-item:hover{
    background-color: white;
    color: #ffba08;
}
.separator{
    align-self: center;
    border-right: 2px solid rgb(163, 159, 159);
    margin-right: 10px;
    height: 20px;
}

/* contact us style */
.contactUs{
    border-radius: 30px;
}
.contactUs h1{
    font-size: 30px;
    margin-bottom: 35px;
    color: tomato;
}
.contactUs h5{
    color: rgb(56, 56, 56);
    font-weight: bold;
    font-size: 50px;
}
.contactUs p{
    color: black;
    font-size: 16px;
}


/* Footer style */
.footer{
    background: rgb(19, 19, 19); 
    position: static;
    bottom: 0;
    width: 100%; 
    padding: 10px;
    margin-top: 50px;
    color: rgb(78, 78, 78);
    cursor: none;
}
.footer p{
    font-size: 14px;
    color: #f1e6c8;
    margin: 5px 0 0 0;
}
.footer a{
    font-size: 14px;
    color: #ffffff;
    padding: 10px 10px;
}
@media only screen and (min-width: 1024px) and (min-height: 800px) {
    .footer{
        position: fixed;
        bottom: 0px;
    }
}