body{
    background-image: url(../images/grdnt_BG5.png);
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
}

/* Navbar Style */
.navbar{
    padding: 5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 36px;
    letter-spacing: .8px;
    background: rgba(59, 59, 59, 0.6)!important;
}
nav .btn{
    color: #ffba08;
    border-radius: 50px;
    text-decoration: none;
}
nav input{
    border: none;
    border-radius: 50px;
    font-weight: 600;
    font-size: 14px;
    padding: 0 10px 0 10px;
}
.nav-link{
    transition: .5s;
}
.nav-link:hover{
    transform: scale(1.1);
}
.dropdown-item:hover{
    background-color: white;
    color: #ffba08;
}
.separator{
    align-self: center;
    border-right: 2px solid rgb(163, 159, 159);
    margin-right: 10px;
    height: 20px;
}
/* Navbar Style - End */

.card{
    border-radius: 30px;
    background: rgb(243, 243, 243);
}
.card input{
    border-radius: 50px;
}
.card .btn{
    color:white;
    border-radius: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
.card .btn:hover{
    color: white!important;
}
.card .btn.btn-outline-warning{
    color: #ffba08;
}

.card .forget-link{
    color: rgb(97, 97, 97);
    font-weight: bold;
    text-decoration: none;
}
.card .forget-link:hover{
    color: #ffba08;
    font-weight: bold;
    text-decoration: none;
    transition: 0.5s;
}

/* BE Modifications - starting point */
.separator{
    align-self: center;
    border-right: 1px solid rgb(163, 159, 159);
    margin-right: 5px;
    height: 30px;
}

/* For Error Messages */
.form-field small{
    display: none;
}

.form-field.error small{
    color: #e74c3c;
    display: block;
    padding-left: 15px;
}

.form-field.error input{
    border-color: #e74c3c;
}

.form-field.error textarea{
    border-color: #e74c3c;
}

.checker small{
    display: none;
}

.checker.error small{
    color: #e74c3c;
    display: block;
    padding-left: 15px;
    border-color: #e74c3c;
}
/* BE Modifications - ending point */

.img-left{
    margin: 5px;
    width: 55%;
    background: url(../images/film_background4.jpg);
    background-size: cover;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Footer style */
.footer{
    background: rgb(19, 19, 19); 
    position: static;
    bottom: 0;
    width: 100%; 
    padding: 10px;
    margin-top: 2rem;
    color: rgb(78, 78, 78);
    cursor: none;
}
.footer p{
    font-size: 14px;
    color: #f1e6c8;
    margin: 5px 0 0 0;
}
.footer a{
    font-size: 14px;
    color: #ffffff;
    padding: 10px 10px;
}
@media only screen and (min-width: 1024px) and (min-height: 900px) {
    .footer{
        position: fixed;
        bottom: 0px;
    }
}