<div class="container mt-5">
    <div class="card text">
        <div class="card-body">
            <h5 class="card-title mb-3">Reset Your Password</h5>
            <hr class="badge-secondary mb-4">
            <form class="container" name="resetForm" id="resetForm" action="/admin/forgot_password/reset_password"
                method="POST">
                <% if (messages.error) { %>
                <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
                    <%= messages.error %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <% } %>
                <input type="text" name="email" id="email" value="<%= email %> " hidden>
                <input type="text" name="resetting" id="resetting" value="<%= resetting %> " hidden>
                <div class="form-group">
                    <label> Password </label>
                    <input type="password" name="password" id="password" class="form-control" maxlength="50"
                        onchange="setSuccessFor(event.target)">
                    <small>Error Message</small>
                </div>
                <div class="form-group">
                    <label> Confirm Password </label>
                    <input type="password" name="confirmPassword" id="confirmPassword" class="form-control"
                        maxlength="50" onchange="setSuccessFor(event.target)">
                    <small></small>
                </div>
                <button type="submit" onclick="return passwordValidation()"
                    class="btn btn-info btn-lg btn-block mt-4 mb-2"> Reset
                    Password</button>
            </form>
        </div>
    </div>
</div>
<script>
    // Check if inputs meet the requirements
    function passwordValidation() {
        const resetForm = document.getElementById('resetForm')
        let isClear = true

        // Check password
        if (resetForm.password.value == '') {
            setErrorFor(password, 'Please enter a new password')
            isClear = false
        } else if (resetForm.password.value.length < 8) {
            setErrorFor(password, 'Password must be atleast 8 characters long')
            isClear = false
        } else {
            setSuccessFor(password)
        }

        // Check confirm password
        if (resetForm.confirmPassword.value == '') {
            setErrorFor(confirmPassword, 'Please re-enter your new password')
            isClear = false
        }
        else if (resetForm.password.value != resetForm.confirmPassword.value) {
            setErrorFor(confirmPassword, 'Passwords do not match')
            isClear = false
        }
        else {
            setSuccessFor(confirmPassword)
        }

        return isClear
    }

    // Add error class and display error message in small
    function setErrorFor(input, message) {
        const formGroup = input.parentElement
        const small = formGroup.querySelector('small')
        small.innerText = message
        formGroup.className = 'form-group error'
    }

    // Remove Error Class
    function setSuccessFor(input) {
        const formField = input.parentElement
        formField.classList.remove('error')
        //formField.className += ' success'
    }

    /* Add success class
    function setSuccessFor(input) {
        const formGroup = input.parentElement
        formGroup.className = 'form-group success'
    }*/
</script>