<div class="container mt-5">
    <div class="card text">
        <div class="card-body">
            <h5 class="card-title mb-3">Reset Your Password</h5>
            <hr class="badge-secondary mb-4">
            <form class="container" name="resetForm" id="resetForm" action="/admin/forgot_password/reset_password"
                method="POST">
                <%- include ('../partials/error_message.ejs') %>
                <input type="text" name="email" id="email" value="<%=email%>" hidden>
                <div class="form-group">
                    <label> Password </label>
                    <input type="password" name="password" id="password" class="form-control" maxlength="50"
                        onchange="setSuccessFor(event.target)">
                    <small>Error Message</small>
                </div>
                <div class="form-group">
                    <label> Confirm Password </label>
                    <input type="password" name="confirmPassword" id="confirmPassword" class="form-control"
                        maxlength="50" onchange="setSuccessFor(event.target)">
                    <small></small>
                </div>
                <button type="submit" onclick="return passwordValidation()"
                    class="btn btn-info btn-lg btn-block mt-4 mb-2"> Reset
                    Password</button>
            </form>
        </div>
    </div>
</div>
<script src="/js/admin/reset_password.js"></script>
