@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body{
    font-family: 'Poppins', sans-serif;
    background-image: url(./images/admin_home_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background: linear-gradient( rgba(0, 0, 0, 1));
}
h1{
    margin-left: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: transparent;
}
p{
    margin-left: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: rgb(49, 49, 49);
}
h2{
    font-size: 72px;
    font-weight: 600;
    margin-left: 20px;
    color: black;
}
h3{
    margin-left: 30px;
}
.jumbotron{
    background-color: #fff1cf;
    border-radius: 8px;
    margin-top: 50px;
}
img {
    vertical-align: middle;
    border-style: none;
    height: 35px;
    padding-left: 10px;
}
a,
a:hover,
a:focus{
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

.navbar{
	padding: 5px 10px;
	background: #fff;
	border: none;
	border-radius: 0;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}

.navbar-btn{
	box-shadow: none;
	outline: none!important;
	border: none;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    position: absolute;
    height: 100%;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background-color: rgb(51, 50, 50);
    opacity: 0.9;
    color: white;
    transition: all 0.3s;
}
#sidebar.active{
	margin-left: -250px;
}

#sidebar .sidebar-header{
	padding: 2px 20px 0 20px;
	background: rgb(43, 42, 42);
}
#sidebar ul.components{ 
	padding: 10px 0 10px 0;
	border-bottom: 2px solid rgb(71, 69, 69);
}

#sidebar ul p{
	padding: 10px;
	font-size: 1.1em;
	display: block;
}


#sidebar li a{
    margin: 5px 5px 0 10px;
	padding: 10px;
	font-size: 1.1em;
    display: block;
    transition: .5s;
}
#sidebar ul li a:hover {
    color: #015668;
    background: white;
}
#sidebar ul li a:hover{
    transform: scale(1.1);
}

a[data-toggle="collapse"] {
    position: relative;
}
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 160px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background-color: rgb(71, 69, 69);
    
}
ul.CTAs {
    padding: 20px 10px 0 0;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 10px;
}
a.reset{
    margin: 10px ;
	background: #fff;
    color: #015668;
    cursor: pointer;
}
a.signout,
a.signout:hover {
    margin: 10px;
    background: #015668 !important;
    color: #fff !important;
    cursor: pointer;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}


.navbar-light{
    background-color: #ffd369;
}

.form-group{
    position: relative;
    margin-bottom: 3px;
    padding-bottom: 3px ;
}

.form-group small{
    visibility: hidden;
}

.form-group.error small{
    color: #e74c3c;
    visibility: visible;
}

.form-group.error input{
    border-color: #e74c3c;
}

.form-group.success input{
    border-color: #2ecc71;
}

.form-control {
    display: inline-block;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

h6{
    text-indent: 30px;
    padding-bottom: 9px;
}

@media(max-width:768px){
	#sidebar{margin-left: -250px;}
	#sidebar.active{
		margin-left: 0px;
	}
	#sidebarCollapse span{
		display: none;
	}
}

.form-field small{
    visibility: hidden;
}

.form-field.error small{
    color: #e74c3c;
    visibility: visible;
}

.form-field.error input{
    border-color: #e74c3c;
}

.form-field.success input{
    border-color: #2ecc71;
}

.form-field.error textarea{
    border-color: #e74c3c;
}

.form-field.success textarea{
    border-color: #2ecc71;
}

.form-field label{
    margin-bottom: 2px;
}