<%- include ('../partials/navbar.ejs') %>
<div class="disclaimer">
    <div class="container">
        <div class="row">
            <div class="col text-center my-5">
                <h1>DISCLAIMER</h1>
                <p class="mb-5">GetTicket</p>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron mx-5 my-5">
    <div class="container py-5">
        <p class="">This website is the property of GetTicket Theaters Management Inc., hereby represented by
            GetTicket Theaters Management Inc. Thus, the content of this website, otherwise stated, including but
            not limited to texts, images, logos, graphics, is the property GetTicket Theaters Management Inc. and is
            protected by copyright, trademark and other intellectual property laws. No content from this website
            shall be used in any manner without the consent of GetTicket Theaters Management Inc.
        </p>
        <p>However, some of the content on this website has been obtained from other sources, i.e. movie synopsis
            and images, thus this website can contain inaccuracies. Furthermore, this website contains links to
            other websites. GetTicket Theaters Management Inc. does not guarantee your security or assumes no
            responsibility with your use of the linked websites.
        </p>
        <p>The contents of this website are subject to change without prior notice. Please contact the GetTicket
            Team for any further information needed.
        </p>
    </div>
</div>
<%- include ('../partials/footer.ejs') %>