<%- include ('../partials/navbar.ejs') %>
<div class="policy">
    <div class="container">
        <div class="row">
            <div class="col text-center my-5">
                <h1>PRIVACY POLICY</h1>
                <p class="mb-5">GetTicket</p>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron mx-5 my-5">
    <div class="container py-5">
        <h2>PRIVACY POLICY</h2>
        <p class="">We take your privacy seriously and are committed to safeguarding your personal information at GetTicket ("we" or "us" or “GetTicket"). We value you as our customer, respect your privacy and are committed to protecting it through our compliance with this policy.</p>
        <p>This policy describes the sources of your personal information that we may collect from you or that you may provide to us, our purposes for collecting and processing your information, and our practices for collecting, using, maintaining, retaining, protecting and disclosing that information.</p>
        <p>If you have any questions or concerns about this privacy policy or your personal information, please contact us using the details provided in Section - 'Contact Us'.</p>
        <p>At GetTicket, we are committed to protecting all the personal information given to us by our guests/clients in the course of our business transactions. We comply with the Data Privacy Act of the Philippines (RA 10173) and make sure that all your personal information is processed in adherence to the general principles of transparency, legitimate purpose and proportionality.</p>
        <p>By registering on this site or providing any one of the GetTicket with personal information, you agree to the terms detailed in our Privacy Policy website, and give full consent to the Company to collect, record, organize, store, update, use, consolidate, block, erase or otherwise process information, whether personal, sensitive or privileged, pertaining to yourself and the transactions which are subject hereof and will be used for the implementation of this agreement. </p>
        <p class="font-weight-bold">What information we collect about you and how we use your personal information?</h1>
        <p>The type of personal information we collect on or through our platforms, why we collect and how we use the personal information are explained in the following: </p>
        <p class="font-weight-bold">To respond to any queries made by you:</p>
        <p>We would use your personal data to help us respond to your queries. We may receive your personal data through our website/social media page/call/mobile application. We collect the following personal information: name, email address, phone number, nationality and details of your enquiry pursuant to our legitimate business interests. In certain cases, your enquiry may relate to a specific service request, for example: raising an enquiry regarding GetTicket Cinemas. For such requests, we need to use your personal information to help us respond to your request and to fulfil our contractual obligations under the requested service. Additionally, when you call our customer service centre, we would maintain a record of the communications, including call recordings, in pursuit of our legitimate business interest to monitor and improve the quality of our customer support.</p>
        <p class="font-weight-bold">To request your feedback, and to respond to complaints:</p>
        <p>Your satisfaction is our utmost priority and we proactively take necessary steps to ensure you are well satisfied with our services. To help us respond to your feedback or complaints, we collect the following personal information: name, email ID, transaction details (such as service you availed) and your feedback/ complaints in the "Customer Service", through a survey conducted after you complete a transaction or after the completion of your call with our customer service team. We collect and use your personal information in pursuit of our legitimate business interests to address your concerns and to take necessary steps towards continual improvement. </p>
        <p class="font-weight-bold">To provide the services requested by you:</p>
        <p>We would process personal information that you provide when you wish to register your profile or purchase ticket or passes for our attractions to provide you the services requested by you. We would need to collect and use the following personal information: name, email address, phone number, birthdate and address in order to provide the services requested by you and to fulfil our contractual obligations towards you.</p>
    </div>
</div>
<%- include ('../partials/footer.ejs') %>