<%- include ('../partials/navbar.ejs') %>
<div class="terms">
    <div class="container">
        <div class="row">
            <div class="col text-center my-5">
                <h1>TERMS AND CONDITIONS</h1>
                <p class="mb-5">GetTicket</p>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron mx-5 my-5">
    <div class="container py-5">
        <h2 class="my-3">TERMS AND CONDITIONS:</h2>
        <p>The terms and conditions set out below form the basis on which we, GetTicket Cinemas and its affiliates, provide you with the convenience of various services and information on-line. By accessing this website and the services and information offered, you are subject to and agree to comply with these terms and conditions.
        </p>
        <h2 class="my-4">CINEMA ADMISSION GUIDELINES:</h2>
        <b class="ml-3">●	For your safety and convenience, here are few reminders:</b>
            <p class="text-left ml-5">○	Please turn off or switch to silent mode your cellular phones and refrain from accepting or making calls and texting while inside the cinema</p>
            <p class="text-left ml-5">○	Copying or recording any portion of the movie being shown in the cinema is prohibited by law.</p>
            <p class="text-left ml-5">○	For your convenience, snack trays and booster seats are located in the foyer area.</p>
            <p class="text-left ml-5">○	For your safety, always keep your eye on your belongings to avoid any loses.</p>
        <b class="ml-3">●	The following items are also prohibited in the cinemas:</b>
            <p class="text-left ml-5">○	Laser pointers </p>
            <p class="text-left ml-5">○	Bladed, sharp & pointed weapons </p>
            <p class="text-left ml-5">○	Alcoholic beverages </p>
            <p class="text-left ml-5">○	Inflated balloons </p>
            <p class="text-left ml-5">○	Food items with foul odor </p>
        <p>If you happen to possess these items, please deposit them to the Security Personnel on duty for safekeeping.</p>
        <h2 class="my-4">WEBSITE SERVICES</h2>
        <p>We provide the services and content made available at this Website, including but not limited to the on-line movie booking service ("Website Services") for your convenience only. We do not assume liability for any reliance placed on any information or content provided in relation to the Website Services, whether relating to us or to any third party.</p>
        <p>We may at our discretion, with or without prior notice, modify, delete, edit or withdraw any part, component or all of the Website Services at any time, or stop or suspend any of them, temporarily or permanently and whether for the purposes of updating, upgrading or system maintenance or otherwise.</p>
            <p class="text-left ml-5">1.	You can Reserve seat(s) upto 1 hour prior to the show. You can Reserve only upto 5 seats in a transaction.</p>
            <p class="text-left ml-5">2.	You cannot initiate multiple reserved bookings. You will have to convert or cancel your existing reservation to start another reservation.</p>
            <p class="text-left ml-5">3.	You will get reminder(s) to confirm your reservation by paying online upto 1 hour before the show.</p>
            <p class="text-left ml-5">4.	In case you fail to make an online payment 1 hour before the show, the booking will be cancelled automatically. You will NOT be able to use the booking id to avail a ticket. You will have to start a fresh booking on GetTicket.</p>
            <p class="text-left ml-5">5.	In case, you are not sure of your movie plans, you can Cancel your booking by signing in on GetTicket and checking the booking history.</p>
            <p class="text-left ml-5">6.	You can Reserve and Cancel the seat(s) any number of times upto 1 hour before the show. You will not be penalized for any cancellations.</p>
            <p class="text-left ml-5">7.	The reserved booking feature is available only at a select few cinemas for now. You can look out for the Reserve icon against the cinema listings on the movie show times page.</p>
            <p class="text-left ml-5">8.	Only a certain number of seats have been allocated to be reserved per show per cinema. Once, the allocated quota for reserved booking has been booked, you will not be able to Reserve seats, but you can go ahead and pay online to complete your booking.</p>
            <p class="text-left ml-5">9.	GetTicket reserves the sole right to modify, terminate or extend the Reserve a Seat feature. In case of any discrepancies, GetTicket will have the final authority, after due diligence, with respect to the customer booking.</p>
    </div>
</div>
<%- include ('../partials/footer.ejs') %>