<%- include ('../partials/navbar.ejs') %>
<!-- mall -->
<div class="terms">
    <div class="container">
        <div class="row">
            <div class="col text-center my-5">
                <h1>ABOUT TIMES SQUARE MALL</h1>
                <p class="text-center">Times Square Mall is one of Southeast Asia’s newest developers and the operator of 3 malls in the Philippines. With an average foot traffic of 1.2 million daily in the Philippines and over 5,000 tenant partners, Times Square Mall provides family fun experiences as it partners with the best-loved brands and events. Times Square Mall is owned by Times Square Mall Prime Holdings, Inc., a publicly listed company and is one of the largest integrated property developers in Southeast Asia.</p>
            </div>
        </div>
    </div>
</div>
    
<div class="jumbotron mx-5 my-5">
    <div class="container">
        <h2>MISSION-VISION</h2>
        <p>Times Square Mall aims to become Asia’s most popular mall chain through constant innovation and partnership with the world’s best retailers.</p>
        <p>We provide the family fun mall experience that makes every day better for all.</p>
        <p>Together with our partners and employees, we commit to a better quality of life for the communities we serve by supporting programs and activities that are socially responsible and environmentally sustainable.</p>
    </div>
</div>
<%- include ('../partials/footer.ejs') %>