<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <a class="navbar-brand" href="/admin/home"><img src="/images/GetTicket_logo.png"></a>
        </div>

        <ul class="list-unstyled components">
            <p></p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Cinemas</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="/admin/cinemas">All Branches</a>
                    </li>
                </ul>
            </li>
            <br>
            <li>
                <a href="/admin/movies">Movies</a>
            </li>
            <br>
            <li>
                <a href="/admin/reservations">Reservations</a>
            </li>
            <br>
            <% if (role == 'ADMIN') { %>
            <li>
                <a href="/admin/users">Users</a>
            </li>
            <% } %>
        </ul>
    </nav>
</div>

<div class="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button type="button fixed-left" id="sidebarCollapse" class="btn btn-outline-dark">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <a class="navbar-brand" href="/admin/home"><img src="/images/GetTicket_logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item dropdown">
                    <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><%=username%>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">RESET PASSWORD</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/admin/home/logout">SIGN OUT</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <br>
</div>

<script>
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });  
</script>