<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <a class="navbar-brand" href="/admin/home"><img src="/images/GetTicket_logo.png"></a>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="/admin/account"><i class="fa fa-user-circle mr-3"></i><%=username%></a>
            </li>
            <br>
            <li class="active">
                <a href="#cinemaMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Cinemas</a>
                <ul class="collapse list-unstyled" id="cinemaMenu">
                    <!-- TO FOLLOW insert other mall branches -->
                    <li><a href="/admin/cinemas">All Branches</a></li>
                </ul>
            </li>
            <li><a href="/admin/movies">Movies</a></li>
            <li><a href="/admin/reservations">Reservations</a></li>
            <% if (role == 'ADMIN') { %>
            <li><a href="/admin/users">Users</a></li>
            <% } %>
        </ul>

        <ul class="list-unstyled CTAs">
            <li><a data-toggle="modal" data-target="#resetPasswordModal" class="reset" data-backdrop="static" data-keyboard="false" style="color: #015668">Reset Password</a></li>
            <li><a data-toggle="modal" data-target="#logout" class="signout">Sign out</a></li>
        </ul>
    </nav>

    <div class="content">
        <nav class="navbar navbar-expand-lg navbar-light">
            <button type="button fixed-left" id="sidebarCollapse" class="btn btn-outline-dark">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <a class="navbar-brand" href="/admin/home"><img src="/images/GetTicket_logo.png"></a>
        </nav>

        <div class="modal" id="resetPasswordModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="text-info"> Reset Password</h3>
                        <button type="button" class="close" data-dismiss="modal"> &times </button>
                    </div>

                    <div class="modal-body">
                        <form class="container" name="resetForm" id="resetForm" action="/admin/home/reset_password"
                            method="POST">
                            <div class="form-group">
                                <label> Current Password </label>
                                <input type="password" name="current" id="currentPass" class="form-control" maxlength="50" onchange="removeError(event.target)">
                                <small>Error Message</small>
                            </div>
                            <div class="form-group">
                                <label> New Password </label>
                                <input type="password" name="new" id="newPass" class="form-control" maxlength="50" onchange="removeError(event.target)">
                                <small>Error Message</small>
                            </div>
                            <div class="form-group">
                                <label> Confirm Password </label>
                                <input type="password" name="confirm" id="confirmPass" class="form-control" maxlength="50" onchange="removeError(event.target)">
                                <small>Error Message</small>
                            </div>
                            <button type="submit" onclick="return passwordValidation()" class="btn btn-info btn-lg btn-block mt-3 mb-2"> Reset Password</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>


        

        